<h1>CMI Strategic Plan Management Dashboard</h1>

<br>

<div class="panel">
    <!-- <legend>Board Key Performance Indicators</legend> -->
    <!-- <div class="row">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2016</td>
                    <td>30%</td>
                    <td>40%</td>
                    <td>50</td>
                    <td>33</td>
                    <td>59%</td>
                    <td>22%</td>
                    <td>98</td>
                    <td>105</td>
                    <td>67%</td>
                    <td>100%</td>
                </tr>
            </tbody>
        </table> 
    </div> -->
    <br>
    <legend>Goal Key Performance Indicators</legend>
    <div class="row">
        <div class="col-md-6" google-chart chart="chart" style="{{chart.cssStyle}}"/>
        <div class="col-md-6" google-chart chart="chart2" style="{{chart.cssStyle}}"/> 
    </div>
</div>
