<h1>CMI Strategic Plan Management Dashboard</h1>

<br>

<div class="panel">
    <br>
    <legend>Activity Overview</legend>
    <div class="row">
        <div class="col-md-6" google-chart chart="chart" style="{{chart.cssStyle}}"/>
    </div>
</div>
<div class="panel">
    <legend>Activity Progress</legend>
    <div>
        <table class="row table table-bordered">
        <header>
            <th>#</th>
            <th>Activity</th>
            <th>Progress</th>
            <th>Responsible Person</th>
        </header>
        <tr ng-repeat="activity in activities">
            <td>{{$index +1}}</td>
            <td class="col-md-4">{{activity.activity | limitTo:40}}...</td>
            <td class="col-md-4"><div><progressbar class="progress-striped" value="activity.statusPercent" type="success">{{activity.statusPercent}}%</progressbar></div></td>
            <td class="col-md-4">{{activity.responsiblePerson}}</td>
        </tr>
        </table>
    </div>
</div>
