<meta charset="utf8"/>
	<base href="/"/>
    <title>CMI</title>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/lib/ng-grid/ng-grid.css">
    <link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/css/app.css"/>
    <link href="css/simple-sidebar.css" rel="stylesheet">