<html ng-app="myApp">
<head>
    <meta charset="utf-8"/>
    <base href="/"/>
    <title>Grant Central Application</title>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/view1">CMI Strategic Management</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
           <!--  <ul class="nav navbar-nav">
                <li><a href="/view1"><i class="fa fa-book fa-fw"></i>Reports</a></li>
            </ul> -->
        </div>
    </div>
</nav>

    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in">Login</span></h1>
            <p>For now you can login with vgarcia@cmi.edu and password admin</p>
            <p>This will give you rights to edit GOAL 1 only</p>

            <% if ( message.length > 0) { %>
                <div class="alert alert-danger">
                    <p><%= message %></p>
                </div>
            <% } %>

            <form action="/login" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email"/>

                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password"/>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
                <br>
                <p><a href="'/">Home</a></p>
            </form>
        </div>
    </div>
</body>
</html>
