<div class="container">
    <h1>Board Key Performance Indicators Detail</h1>
    <br>
    <div>
        <legend>{{bkpi.kpi}}</legend>
        <form>
            <legend>Update Semester Values</legend>
        
            <div class="form-group">
                <label for="f15">Fall 2015</label>
                <input type="number" class="form-control" id="f15" ng-model="bkpi.f15">
            </div>

            <div class="form-group">
                <label for="sp16">Spring 2016</label>
                <input type="number" class="form-control" id="sp16" ng-model="bkpi.sp16">
            </div>

            <div class="form-group">
                <label for="su16">Summer 2016</label>
                <input type="number" class="form-control" id="su16" ng-model="bkpi.su16">
            </div>

            <div class="form-group">
                <label for="f16">Fall 2016</label>
                <input type="number" class="form-control" id="f16" ng-model="bkpi.f16">
            </div>

            <div class="form-group">
                <label for="sp17">Spring 2017</label>
                <input type="number" class="form-control" id="sp17" ng-model="bkpi.sp17">
            </div>

            <div class="form-group">
                <label for="su17">Summer 2017</label>
                <input type="number" class="form-control" id="su17" ng-model="bkpi.su17">
            </div>

            <div class="form-group">
                <label for="f17">Fall 2017</label>
                <input type="number" class="form-control" id="f17" ng-model="bkpi.f17">
            </div>

            <div class="form-group">
                <label for="sp18">Spring 2018</label>
                <input type="number" class="form-control" id="sp18" ng-model="bkpi.sp18">
            </div>

            <div class="form-group">
                <label for="su18">Summer 2018</label>
                <input type="number" class="form-control" id="su18" ng-model="bkpi.su18">
            </div>

            <div class="form-group">
                <label for="f18">Fall 2018</label>
                <input type="number" class="form-control" id="f18" ng-model="bkpi.f18">
            </div>
        
            
        
            <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
        </form>
    </div>
</div>
 