<!-- Nav --!>
<% include ../nav %>

<!-- Sidebar -->
<% include ../sidebar %>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <article>

                    <h3>Goal:</h3>
                    <p>{{ goal.title }}</p>
                </article>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->

