<div id="sidebar-wrapper" ng-controller="GoalDetailCtrl">
    <ul class="sidebar-nav">
        <li>
            <a href="/deptHead/goalDetail/{{goalId}}/kpis/">KPIs</a>
        </li>
       <!--  <li>
            <a href="/deptHead/goalDetail/{{goalId}}/objectives">Objectives</a>
        </li> -->
        <li>
            <a href="/deptHead/goalDetail/{{goalId}}/objectives">Objectives</a>
        </li>
        <li>
            <a href="/deptHead/goalDetail/{{goalId}}/activities">Activities</a>
        </li>
    </ul>
</div>