<!-- Nav -->
<% include ../nav %>

<article>
	<h2>Goal 1</h1>
	<h3>Objective 1</h3>
	<h4>Narrative</h4>
	<p>narrative</p>
	<h4>Budget</h4>
	<p>budget</p>
	<h4>Progress Report</h4>
	<p>progress report</p>
</article>
